.card {
  width: 29%;
  margin: 1%;
  background-color: $white;
  border-radius: $card-border-radius;
}
.card-header {
  display: flex;
  justify-content: space-around;
}
.card-feedback {
  display: flex;
}
.card-author {
  display: flex;
}
